button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
  }
}

button,
input {
  overflow: visible;
}
input[type="text"] {
  border-radius: 0;
}

.form-group > input[type="text"] {
  display: inline-block;
  margin-top: 0.4rem;
}
.btn {
  padding: 0.8rem 1rem 0.7rem;
  border: 0.2rem solid #4d4d4d;
  cursor: pointer;
  text-transform: capitalize;

  &__danger {
    color: #fff;
    background-color: #ca3c3c;
    border-color: #bd2130;
  }
  &__filter {
    border-color: lightgrey;
  }
  &__primary {
    color: #fff;
    background-color: #000;
  }
  &-group {
    display: flex;
    justify-content: space-between;

    & > * {
      flex: 1 1 49%;
    }

    & > * + * {
      margin-left: 0.8rem;
    }
  }
}
.btn.toggle-btn {
  border-width: 1px;
  border-color: #d3d3d3;
}
.btn.toggle-btn[aria-pressed="true"] {
  text-decoration: underline;
  border-color: #4d4d4d;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.label {
  &-wrapper {
    margin: 0;
    flex: 0 0 100%;
    text-align: center;
  }
  &__lg {
    line-height: 1.01567;
    font-weight: 300;
    padding: 0.8rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.input {
  &__lg {
    padding: 2rem;
    border: 2px solid #000;

    &:focus {
      border-color: #4d4d4d;
      box-shadow: inset 0 0 0 2px;
    }
  }
}

[class*="__lg"] {
  display: inline-block;
  width: 100%;
  font-size: 1.9rem;
}
[class*="__lg"]:not(:last-child) {
  margin-bottom: 1rem;
}
@media screen and (min-width: 620px) {
  [class*="__lg"] {
    font-size: 2.4rem;
  }
}
